<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <!--          <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>-->
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-center">
            <div class="back-image d-flex justify-content-center align-items-center">
              <button class="file upload-btn">
                <img src="../../assets/imgs/add-image.png" width="40px" height="40px" class=""> <input class="input-apload" type="file" name="file"/>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-center">
            <div class="back-image d-flex justify-content-center align-items-center">
              <button class="file upload-btn">
                <img src="../../assets/imgs/add-video.png" width="40px" height="40px" class=""> <input class="input-apload" type="file" name="file"/>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-center">
            <div class="back-image d-flex justify-content-center align-items-center">
              <button class="file upload-btn">
                <img src="../../assets/imgs/add-file.png" width="40px" height="40px" class=""> <input class="input-apload" type="file" name="file"/>
              </button>
            </div>
          </div>
          <div class="div-close-btn"><button class="modal-close-btn d-flex justify-content-center align-items-center" data-dismiss="modal"><img src="../../assets/imgs/icons/close.png" width="20px" height="20px"></button></div>

        </div>
      </div>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form mb-1">
        <textarea type="text" class="validate post-text-input" placeholder="Text..."></textarea>
      </div>
      <div class="md-form mb-3">
        <div class="container-fluid aploaded-container">
          <div class="row aploaded-row">
            <div class="col-12 col-md-12 col-sm-12 col-xs-12 aploaded-col">
              <div class="row">
                <button class="aploaded-shortcut d-flex justify-content-center align-items-center">KJ <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
                <button class="aploaded-shortcut d-flex justify-content-center align-items-center">BF <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
                <button class="aploaded-shortcut d-flex justify-content-center align-items-center">AL <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
                <button class="aploaded-shortcut d-flex justify-content-center align-items-center">JT <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
                <button class="aploaded-shortcut d-flex justify-content-center align-items-center">NF <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
                <button class="aploaded-shortcut d-flex justify-content-center align-items-center">SJ <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <div class="container validation-container">
        <div class="row validation-row">
          <div class="col-12 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-start align-items-center validation-col">
            <button mat-button class="btn-publicity">Publicity</button>
          </div>
          <div class="col-12 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-end align-items-center validation-col">
            <button mat-button class="btn-valid-post" data-dismiss="modal">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
