<div class="container-fluid contain-list">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="text-center top-card">
        <font size="6" class="topTitle">CATEGORIES</font>
        <hr align="center" class="line" width="7%" color="#f33535" size="3">
      </mat-card>
    </div>

  </div>
  <div class="row first-line">
    <div class="categ-div circle1 d-flex justify-content-center align-items-center"><font class="categ-name">Agri-food</font> <img class="categ-img" src="../../assets/imgs/agrifood.png" width="60" height="60"></div>
    <div class="categ-div circle2 d-flex justify-content-center align-items-center"><font class="categ-name">Animal</font> <img class="categ-img" src="../../assets/imgs/animal.png" width="60" height="60"></div>
    <div class="categ-div circle3 d-flex justify-content-center align-items-center"><font class="categ-name">Beauty</font> <img class="categ-img" src="../../assets/imgs/beauty.png" width="60" height="60"></div>
    <div class="categ-div circle4 d-flex justify-content-center align-items-center"><font class="categ-name">Business individual</font> <img class="categ-img" src="../../assets/imgs/business-individual.png" width="60" height="60"></div>
    <div class="categ-div circle5 d-flex justify-content-center align-items-center"><font class="categ-name">Business services</font> <img class="categ-img" src="../../assets/imgs/business-services.png" width="60" height="60"></div>
    <div class="categ-div circle6 d-flex justify-content-center align-items-center"><font class="categ-name">Cars</font> <img class="categ-img" src="../../assets/imgs/car.png" width="60" height="60"></div>
    <div class="categ-div circle7 d-flex justify-content-center align-items-center"><font class="categ-name">Cinema</font> <img class="categ-img" src="../../assets/imgs/cinema.png" width="60" height="60"></div>
    <div class="categ-div circle8 d-flex justify-content-center align-items-center"><font class="categ-name">Design</font> <img class="categ-img" src="../../assets/imgs/design.png" width="60" height="60"></div>
    <div class="categ-div circle9 d-flex justify-content-center align-items-center"><font class="categ-name">Fashion</font> <img class="categ-img" src="../../assets/imgs/fashion.png" width="60" height="60"></div>
  </div>
  <div class="row second-line">
    <div class="categ-div circle10 d-flex justify-content-center align-items-center"><font class="categ-name">Game & entertainment</font> <img class="categ-img" src="../../assets/imgs/game.png" width="60" height="60"></div>
    <div class="categ-div circle1 d-flex justify-content-center align-items-center"><font class="categ-name">health & wellbeing</font> <img class="categ-img" src="../../assets/imgs/health.png" width="60" height="60"></div>
    <div class="categ-div circle1 d-flex justify-content-center align-items-center"><font class="categ-name">Home apliance</font> <img class="categ-img" src="../../assets/imgs/home-apliance.png" width="60" height="60"></div>
    <div class="categ-div circle5 d-flex justify-content-center align-items-center"><font class="categ-name">Immovable</font> <img class="categ-img" src="../../assets/imgs/immovable.png" width="60" height="60"></div>
    <div class="categ-div circle7 d-flex justify-content-center align-items-center"><font class="categ-name">Interior</font> <img class="categ-img" src="../../assets/imgs/interior.png" width="60" height="60"></div>
    <div class="categ-div circle10 d-flex justify-content-center align-items-center"><font class="categ-name">IT & technology</font> <img class="categ-img" src="../../assets/imgs/it.png" width="60" height="60"></div>
    <div class="categ-div circle10 d-flex justify-content-center align-items-center"><font class="categ-name">Nature</font> <img class="categ-img" src="../../assets/imgs/nature.png" width="60" height="60"></div>
    <div class="categ-div circle1 d-flex justify-content-center align-items-center"><font class="categ-name">Press</font> <img class="categ-img" src="../../assets/imgs/press.png" width="60" height="60"></div>
    <div class="categ-div circle1 d-flex justify-content-center align-items-center"><font class="categ-name">Restaurant</font> <img class="categ-img" src="../../assets/imgs/resto.png" width="60" height="60"></div>
  </div>
  <div class="row first-line">
    <div class="categ-div circle1 d-flex justify-content-center align-items-center"><font class="categ-name">Sport</font> <img class="categ-img" src="../../assets/imgs/sport.png" width="60" height="60"></div>
    <div class="categ-div circle2 d-flex justify-content-center align-items-center"><font class="categ-name">Stationery</font> <img class="categ-img" src="../../assets/imgs/stationery.png" width="60" height="60"></div>
    <div class="categ-div circle3 d-flex justify-content-center align-items-center"><font class="categ-name">Tourism</font> <img class="categ-img" src="../../assets/imgs/tourism.png" width="60" height="60"></div>
    <div class="categ-div circle4 d-flex justify-content-center align-items-center"><font class="categ-name">Training</font> <img class="categ-img" src="../../assets/imgs/training.png" width="60" height="60"></div>
    <div class="categ-div circle5 d-flex justify-content-center align-items-center"><font class="categ-name">Agri-food</font> <img class="categ-img" src="../../assets/imgs/beauty.png" width="60" height="60"></div>
    <div class="categ-div circle6 d-flex justify-content-center align-items-center"><font class="categ-name">Agri-food</font> <img class="categ-img" src="../../assets/imgs/beauty.png" width="60" height="60"></div>
    <div class="categ-div circle7 d-flex justify-content-center align-items-center"><font class="categ-name">Agri-food</font> <img class="categ-img" src="../../assets/imgs/beauty.png" width="60" height="60"></div>
    <div class="categ-div circle8 d-flex justify-content-center align-items-center"><font class="categ-name">Agri-food</font> <img class="categ-img" src="../../assets/imgs/beauty.png" width="60" height="60"></div>
    <div class="categ-div circle9 d-flex justify-content-center align-items-center"><font class="categ-name">Agri-food</font> <img class="categ-img" src="../../assets/imgs/beauty.png" width="60" height="60"></div>
  </div>
</div>
