.contain-list{
padding-bottom:70px;
padding-top:50px;
}

.categ-div{
width: 120px;
height: 120px;
border-radius:50%;
color:white;
padding:20px;
margin:10px;
}

.top-card{
background: none;
border:0px;
box-shadow:none;
height:130px;
}

.line{
height:2px;
}

.categ-img{
position:absolute;
visibility:hidden;
}

.second-line{
margin-left:10px;
}


.circle1{
background: #f33535;
}

.circle1:hover .categ-img{
visibility:visible;
}

.circle1:hover .categ-name{
visibility:hidden;
}

.circle2:hover .categ-img{
visibility:visible;
}

.circle2:hover .categ-name{
visibility:hidden;
}

.circle3:hover .categ-img{
visibility:visible;
}

.circle3:hover .categ-name{
visibility:hidden;
}

.circle4:hover .categ-img{
visibility:visible;
}

.circle4:hover .categ-name{
visibility:hidden;
}


.circle5:hover .categ-img{
visibility:visible;
}

.circle5:hover .categ-name{
visibility:hidden;
}

.circle6:hover .categ-img{
visibility:visible;
}

.circle6:hover .categ-name{
visibility:hidden;
}


.circle7:hover .categ-img{
visibility:visible;
}

.circle7:hover .categ-name{
visibility:hidden;
}

.circle8:hover .categ-img{
visibility:visible;
}

.circle8:hover .categ-name{
visibility:hidden;
}

.circle9:hover .categ-img{
visibility:visible;
}

.circle9:hover .categ-name{
visibility:hidden;
}

.circle10:hover .categ-img{
visibility:visible;
}

.circle10:hover .categ-name{
visibility:hidden;
}




.circle2{
background: #33425b;
}

.circle3{
background: #33425b;
}

.circle4{
background: #f33535;
}

.circle5{
background: #3ae374;
}

.circle6{
background: #3ae374;
}

.circle7{
background: #5f27cd;
}

.circle8{
background: #33425b;
}

.circle9{
background: #f33535;
}

.circle10{
background: #3ae374;
}
