<div class="contain-page d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center mt-0 ">
        <div class="container-fluid padding-0">
          <div class="row padding-0">
            <div class="col-12 col-md-12 col-sm-12 padding-0">
              <mat-card class="head-pm pt-2 mt-4">
                <mat-card-header class="">
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title class="username">Simba leroy</mat-card-title>
                  <mat-card-subtitle class="user-category">Dog Breed</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
            <div class="col-12 col-md-12 col-sm-12 pl-0 pr-1">
              <app-img-c-management class="d-flex justify-content-center align-items-center"></app-img-c-management>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 padding-0">
        <app-comments-a-management class="padding-0"></app-comments-a-management>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
