<div class="container-fluid">
  <div class="row category-row d-flex justify-content-center">
    <div class="col-12 col-md-3  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
        <i class="material-icons">
          library_books
        </i>
      &nbsp;Posts
    </div>
    <div class="col-12 col-md-3  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
        <i class="material-icons">
          shop_two
        </i>
      &nbsp;Sales
    </div>
    <div class="col-12 col-md-3  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
        <i class="material-icons">
          contactless
        </i>
      Alerts
    </div>
    <div class="col-12 col-md-3  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
      <i class="material-icons">
        history
      </i>
      &nbsp;Stories
    </div>
  </div>
</div>
<div class="container">
  <app-edit-posts></app-edit-posts>
</div>
