*{
background:#dbedf3;
}

.edition{
background-color:#dbedf3;
overflow-x:hidden;
}

.contain{
background:white;
padding:0px;
}

.navigation{
height:657px;
padding:0px;
overflow-y:hidden;
overflow-x:hidden;
}

.navigation:hover{
overflow-y:auto;
overflow-x:hidden;
}

.avatar-container{
height:270px;
}


.avatar{
border-radius:50%;
height:250px;
width:250px;
border:2px solid whitesmoke;
}

.change-avatar{
height:70px;
}

.change-btn{
background-color:#27ae60;
outline:none;
color:whitesmoke;
}


.edit-link{
padding:0px;
border-top:1px solid silver;
}

.edit-btn{
width:340px;
height:40px;
outline:none;
border-radius:0px;
margin:0px;
text-align:left;
}


input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
