<app-navbar></app-navbar>
<div class="container-fluid edition">
  <div class="row">
    <div class="col-12 col-md-3 col-sm-3 navigation">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center avatar-container" >
            <div class="d-flex justify-content-center"><img src="../../assets/imgs/avatar.png" class="avatar"></div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center change-avatar" >
            <div class="d-flex justify-content-center">
              <button class="file change-btn" mat-button >
              Change profil <input type="file" name="file"/>
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex ijustify-content-start">
              <button class="file edit-btn d-flex align-items-center" mat-button >
                <i class="material-icons">perm_device_information</i>
                MY INFOS
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex justify-content-start">
              <button class="file edit-btn" mat-button >
                <i class="material-icons">block</i>
                BLOCKING
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex justify-content-start">
              <button class="file edit-btn" mat-button >
                <i class="material-icons">public</i>
               PUBLICATIONS
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex justify-content-start">
              <button class="file edit-btn" mat-button >
                <i class="material-icons">wifi</i>
                PUBLICITIES
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex justify-content-start">
              <button class="file edit-btn" mat-button >
                <i class="material-icons">history</i>
                STORIES
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex justify-content-start">
              <button class="file edit-btn" mat-button>
                <i class="material-icons">near_me</i>
                DELIVERIES
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex justify-content-start">
              <button class="file edit-btn" mat-button >
                <i class="material-icons">assistant</i>
                AMONAK
              </button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-star align-items-center edit-link" >
            <div class="d-flex justify-content-start">
              <button class="file edit-btn" mat-button >
                <i class="material-icons">live_help</i>
                DOCUMENTATION
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9 col-sm-9 contain">
      <app-edit-publication></app-edit-publication>
    </div>
  </div>
</div>
