.searchBar{
    border: none;
    border-radius: 3px;
    width: 40%;
    height: 25px;
    outline: none !important;
    background: #d8e9f0;
    padding-left:15px;
}

form{
width:100%;
}

.search-row{
height:120px;
}


.option-icon{
 font-size:20px;
 margin-left:57%;
 color: grey;
 }

 .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.option-btn{
background:none;
border:0px;
outline:none;
}

.dropdown-menu{
border:1px solid silver;
margin-left:-120px;
width:190px;
}

.post-date{
margin-top:20px;
color:gray;
font-size:15px;
}

.option-link:hover{
background:whitesmoke;
}

mat-card-subtitle{
font-size:12px !important;
}
