<mat-card class="row go-to-profil">
  <button class="gtp-btn">
    <mat-card-header class="card-head">
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title>Simba Leroy</mat-card-title>
      <mat-card-subtitle class="cat-user">IT & technology</mat-card-subtitle>
    </mat-card-header>
  </button>
</mat-card>
<div class="row stories-row">
    <font class="stories-font">Stories</font>
  <div class="col-md-12 col-sm-12 d-flex justify-content-start align-items-center storiesContain">
    <div class="hover01">
      <button class="story-btn">
      <div>
        <figure><div mat-card-avatar class="storybull"><font class="create-story"><i class="material-icons">album</i></font></div></figure>
      </div>
      </button>
    </div>
    <div class="hover01">
      <button class="story-btn">
        <div>
          <figure><div mat-card-avatar class="storybull"></div></figure>
        </div>
      </button>
    </div>
    <div class="hover01">
      <button class="story-btn">
        <div>
          <figure><div mat-card-avatar class="storybull"></div></figure>
        </div>
      </button>
    </div>
    <div class="hover01">
      <button class="story-btn">
        <div>
          <figure><div mat-card-avatar class="storybull"></div></figure>
        </div>
      </button>
    </div>
    <div class="hover01">
      <button class="story-btn">
        <div>
          <figure><div mat-card-avatar class="storybull"></div></figure>
        </div>
      </button>
    </div>
  </div>
</div>

<mat-card class="row accordion head-row" id="accordionExample">
  <mat-card-header class="card btn btn-accordion card-accordion col-md-12" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <img class="addlist-img" src="../../assets/imgs/suggestion.png" width="25px" height="25px"/>
    <mat-card-title class="suggestion-title" data-toggle="collapse">Suggestions</mat-card-title>
  </mat-card-header>
</mat-card>

<div class="accordion row" id="accordionExample padding-0">
  <div class="card card-accordion col-md-12 border-0">
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container-fluid containList padding-0" >
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend" onclick="style='color:gray;'"><i class="material-icons send">person_add</i></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend" onclick="style='color:gray;'"><i class="material-icons send">person_add</i></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend" onclick="style='color:gray;'"><i class="material-icons send">person_add</i></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend" onclick="style='color:gray;'"><i class="material-icons send">person_add</i></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
