<li>
  <div class="container-fluid">
    <div class="row option-link d-flex align-items-center">
      <div class="col-12 col-md-1 col-sm-1 option-ico d-flex align-items-center">
        <i class="material-icons">visibility</i>
      </div>
      <div class="col-12 col-md-10 col-sm-10 d-flex align-items-center">Signal</div>
    </div>
  </div>
</li>
<li>
  <div class="container-fluid">
    <div class="row option-link d-flex align-items-center">
      <div class="col-12 col-md-1 col-sm-1 option-ico d-flex align-items-center">
        <i class="material-icons">save</i>
      </div>
      <div class="col-12 col-md-10 col-sm-10 d-flex align-items-center">Save</div>
    </div>
  </div>
</li>
<li>
  <div class="container-fluid">
    <div class="row option-link d-flex align-items-center">
      <div class="col-12 col-md-1 col-sm-1 option-ico d-flex align-items-center">
        <i class="material-icons">warning</i>
      </div>
      <div class="col-12 col-md-10 col-sm-10 d-flex align-items-center">Signal</div>
    </div>
  </div>
</li>
<li>
  <div class="container-fluid">
    <div class="row option-link d-flex align-items-center">
      <div class="col-12 col-md-1 col-sm-1 option-ico d-flex align-items-center">
        <i class="material-icons">volume_off</i>
      </div>
      <div class="col-12 col-md-10 col-sm-10 d-flex align-items-center">Silence</div>
    </div>
  </div>
</li>
