<div class="container-fluid">
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-1">
      <button class="blue">Docs</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="orange">Delivery request</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="blue">Follow a delivery</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="orange">Work with us</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="blue">Contact</button>
    </div>
  </div>
</div>
