<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mt-4">
      <input class="input-style" type="number" name="card-number" maxlength="16" placeholder="card number...">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mt-4">
      <input class="input-style" type="number" name="card-expiration" maxlength="7" placeholder="Expiration mm/aaaa...">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mt-4">
      <input class="input-style" type="number" name="card-cvc" maxlength="4" placeholder="CVC...">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mb-1 d-flex justify-content-end align-items-center mt-4">
      <button class="scan-card"><img src="../../assets/imgs/scan.png" width="30px" height="30px">&nbsp;&nbsp;Scan your card here</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mb-1 d-flex justify-content-end align-items-center mt-4">
      <button class="buy-btn">Get</button>
    </div>
  </div>
</div>
