<mat-card class="add-action pt-0 mt-4">
  <mat-card-actions class="d-flex justify-content-center align-items-center">
    <button class="btn-post">
      <img src="../../assets/imgs/icons/like.png" width="20px" height="20px">
      <br><span class="sub-number">125</span>
    </button>
    <button class="btn-post">
      <img src="../../assets/imgs/icons/answer.png" width="20px" height="20px">
      <br><span class="sub-number">10</span>
    </button>
    <button class="btn-post">
      <img src="../../assets/imgs/icons/comment.png" width="20px" height="20px">
      <br><span class="sub-number">15</span>
    </button>
    <button class="btn-post">
      <img src="../../assets/imgs/icons/share.png" width="20px" height="20px">
      <br><span class="sub-number">15</span>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="comments">
  <app-ca-comment></app-ca-comment>
  <app-ca-answers></app-ca-answers>
</mat-card>
<mat-card class="add-comment-field">
  <input class="add-comment" type="text" name="new-comment" placeholder="add comment...">
</mat-card>
