<header>
  <nav class="navbar sticky-top nvbr">
    <a routerLink="/home" class="navbar-brand  d-flex justify-items-center" style="margin-left: 120px">
      <img src="../../assets/imgs/white-l.png" width="60" height="50" class="d-inline-block align-top align-start" alt="">
    </a>

    <form class="">
      <input class="searchBar" type="search" placeholder="  Search..." aria-label="Search">
    </form>

    <div>
      <ul class="nav  justify-content-end">
        <li class="nav-item">
          <button mat-button class="nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="../../assets/imgs/icons/chat-white.png" width="20px" height="20px">
            <div id="signalPoint1"><i class="fas fa-circle"></i></div>
          </button>
          <ul class="dropdown-menu message-dropdown" aria-labelledby="dropdownMenu1">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12"><font class="window-title">Discussions</font></div>
              </div>
            </div>
            <li>
              <div class="container-fluid padding-0">
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 d-flex align-items-center padding-0">
                    <div class="container-fluid padding-0" >
                      <div class="row d-flex align-items-center">
                        <mat-card-header class="card-head d-flex align-items-center">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-title class="title-intro">Joseph Adai&nbsp;&nbsp;<font class="signal-receive"><i class="fas fa-circle"></i></font></mat-card-title>
                          <mat-card-subtitle class="message-intro">I'm already in my way, don't worry...</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">19h30</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-title class="title-intro">Joseph Adai&nbsp;&nbsp;<font class="signal-receive"><i class="fas fa-circle"></i></font></mat-card-title>
                          <mat-card-subtitle class="message-intro">I'm already in my way, don't worry...</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">hier</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-title class="title-intro">Joseph Adai&nbsp;&nbsp;<font class="signal-receive"><i class="fas fa-circle"></i></font></mat-card-title>
                          <mat-card-subtitle class="message-intro">I'm already in my way, don't worry...</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-title class="title-intro">Joseph Adai&nbsp;&nbsp;<font class="signal-receive"><i class="fas fa-circle"></i></font></mat-card-title>
                          <mat-card-subtitle class="message-intro">I'm already in my way, don't worry...</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-title class="title-intro">Joseph Adai&nbsp;&nbsp;<font class="signal-receive"><i class="fas fa-circle"></i></font></mat-card-title>
                          <mat-card-subtitle class="message-intro">I'm already in my way, don't worry...</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-title class="title-intro">Joseph Adai&nbsp;&nbsp;<font class="signal-receive"><i class="fas fa-circle"></i></font></mat-card-title>
                          <mat-card-subtitle class="message-intro">I'm already in my way, don't worry...</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button mat-button class="nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="../../assets/imgs/icons/notification-white.png" width="20px" height="20px">
            <div id="signalPoint2"><i class="fas fa-circle"></i></div>
          </button>
          <ul class="dropdown-menu notification-dropdown" aria-labelledby="dropdownMenu1">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12"><font class="window-title">Notifications</font></div>
              </div>
            </div>
            <li>
              <div class="container-fluid padding-0">
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 d-flex align-items-center padding-0">
                    <div class="container-fluid padding-0" >
                      <div class="row d-flex align-items-center">
                        <mat-card-header class="card-head d-flex align-items-center">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-subtitle class="notification-intro"><font class="important">Alain kouadio</font> commented your post.</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">19h30</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-subtitle class="notification-intro"><font class="important">Yassine Hamdaoui</font> liked your post.</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">hier</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-subtitle class="notification-intro"><font class="important">Joseph</font> answered your alert!!!</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-subtitle class="notification-intro"><font class="important">Gadour</font> bought your product online</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-subtitle class="notification-intro"><font class="important">Jean Philippe</font> booked your product.</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center padding-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
                          <mat-card-subtitle class="notification-intro">You have a <font class="important">delivery</font> tomorrow. CONFIRM</mat-card-subtitle>
                          <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button mat-button class="nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="../../assets/imgs/icons/option-white.png" width="20px" height="20px">
            <div id="signalPoint3"><i class="fas fa-circle"></i></div>
          </button>
          <ul class="dropdown-menu more-dropdown" aria-labelledby="dropdownMenu1">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12"><font class="window-title">More</font></div>
              </div>
            </div>
            <li>
              <div class="container-fluid padding-0">
                <div class="row option-link d-flex align-items-center more-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 d-flex align-items-center padding-0">
                    <div class="container-fluid padding-0" >
                      <div class="row d-flex align-items-center">
                        <mat-card-header class="card-head d-flex align-items-center">
                          <div mat-card-avatar class="more-avatar more-profil"></div>
                          <mat-card-title class="notification-intro">Profil</mat-card-title>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center more-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="more-avatar more-premium"></div>
                          <mat-card-title class="notification-intro">Premium</mat-card-title>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center more-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="more-avatar more-publicity"></div>
                          <mat-card-title class="notification-intro">Publicity</mat-card-title>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center more-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="more-avatar more-delivery"></div>
                          <mat-card-title class="notification-intro">Delivery</mat-card-title>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row option-link d-flex align-items-center more-row border-1">
                  <div class="col-12 col-md-14 col-sm-14 padding-0" >
                    <div class="container-fluid padding-0" >
                      <div class="row">
                        <mat-card-header class="card-head">
                          <div mat-card-avatar class="more-avatar more-edit"></div>
                          <mat-card-title class="notification-intro">Edit</mat-card-title>
                        </mat-card-header>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style type="text/css">
#mobileshow {
display:none;
}
@media screen and (max-width: 500px) {
#mobileshow {
display:block; }
}
</style>
