<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Simba Leroy</b><font class="sell-property"> - booked</font></font>
    <font class="sell-date"> - 2 days ago</font></font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Simba Leroy</b><font class="sell-property"> - bought</font></font>
    <font class="sell-date"> - yesterday</font></font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Yves Bill</b><font class="sell-property"> - bought</font></font>
    <font class="sell-date"> - 19 pm</font></font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Amando Fry</b><font class="sell-property"> - bought</font></font>
    <font class="sell-date"> - at 19 pm</font></font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Christ Miler</b><font class="sell-property"> - bought</font></font>
    <font class="sell-date"> - at 19 pm</font></font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Christ Miler</b><font class="sell-property"> - booked</font></font>
    <font class="sell-date"> - at 10 pm</font></font>
</mat-card-header>

<!------------------FOR EMPTY LIST (condition)--------------------->
<mat-card-header class="d-flex justify-content-center align-items-center" style="visibility:hidden">
  <font class="empty-list">The list is empty for now.</font>
</mat-card-header>

<button class="new"><img src="../../assets/imgs/icons/plus-white.png" width="20px" height="20px"></button>
