<div class="container-fluid contain-list">
  <div class="row row-list d-flex justify-content-start">
    <div class="col-md-auto col-sm-auto col-xs-auto">
      <div class="received d-flex align-items-center mb-2">Hi!</div>
    </div>
  </div>
  <div class="row row-list d-flex justify-content-end ml-3">
    <div class="col-md-auto col-sm-auto col-xs-auto">
      <div class="sent d-flex align-items-center mb-2">Hi! what'up?</div>
    </div>
  </div>
  <div class="row row-list d-flex justify-content-start mr-3">
    <div class="col-md-auto col-sm-auto col-xs-auto">
      <div class="received d-flex align-items-center mb-2">Yeah i'm good. I wanna help about my work. I'll explain it to you if you're free.</div>
    </div>
  </div>
  <div class="row row-list d-flex justify-content-start mr-3">
    <div class="col-md-auto col-sm-auto col-xs-auto">
      <div class="received d-flex align-items-center mb-2">Your have good experience.</div>
    </div>
  </div>
  <div class="row row-list d-flex justify-content-end ml-3">
    <div class="col-md-auto col-sm-auto col-xs-auto">
      <div class="sent d-flex align-items-center mb-2">Thanks</div>
    </div>
  </div>
  <div class="row row-list d-flex justify-content-end ml-3">
    <div class="col-md-auto col-sm-auto col-xs-auto">
      <div class="sent d-flex align-items-center mb-2">Now i'm working on a product to present on Amonak. I sells to much here.</div>
    </div>
  </div>

</div>
