<div class="container contain">
  <div class="row search-row d-flex align-items-center">
    <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center">
      <form class="d-flex justify-content-center">
        <input class="searchBar" type="search" placeholder="  Search..." aria-label="Search">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-3 col-sm-4 user-col">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <img src="../../assets/imgs/avatar.png" class="friend-avatar" width="80" height="80">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <font class="friend-activity">Health & wellbeing</font>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <mat-card-title class="friend-username">Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <button mat-button class="block-btn" data-toggle="modal" data-target="#myModal" data-toggle="modal" data-target="#myModal">
            <font>Block</font>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <app-blocking-modal></app-blocking-modal>
  </div>
</div>
