.contain{
margin:15px;
}

.friend-avatar{
  border-radius:50%;
  margin-top:13px;
}

.friend-username{
  font-size:18px;
}

.friend-activity{
  color:gray;
  font-family: 'Muli', sans-serif;
  font-size:12px;
}


.block-btn{
border:0.8px solid #f33535;
color:#f33535;
outline:none;
width:70%;
}

.block-btn:hover{
border:0px;
color:white;
background:#f33535;
transition:0.3s;
}

.user-col{
margin-top:30px;
}

.searchBar{
    border: none;
    border-radius: 3px;
    width: 40%;
    height: 25px;
    outline: none !important;
    background: #d8e9f0;
    padding-left:15px;
}

form{
width:100%;
}

.search-row{
height:80px;
}



