.btn-post{
background:none;
border:0px !important;
outline:none !important;
width:100px;
height:45px;
}

.add-action{
border-bottom-left-radius:0px !important;
border-bottom-right-radius:0px !important;
border-top-left-radius:0px !important;
}

.sub-number{
color:gray;
font-size:13px !important;
}

.comments{
background:none;
border:1px solid white !important;
box-shadow:none;
height:470px;
max-height:470px;
overflow-y:auto;
border-radius:0px !important;
background:#d8e9f9;
}

.avatar{
background-image: url('../../assets/imgs/portsaid.jpg');
background-size: cover;
width:40px;
height:40px;
}


.username{
font-size:14px !important;
}


.add-comment-field{
padding:2px !important;
border-bottom-left-radius:0px !important;
}

.add-comment{
outline:none !important;
font-size:14px;
width:100%;
border:1px;
border-radius:5px;
height:auto;
min-height:60px;
padding-left:15px;
border:0px !important;
}
