.btn-style{
height:40px;
width:100%;
border-radius:7px;
outline:none;
font-size:16px;
border:0px;
padding-left:20px;
background:#16a085;
color:white;
font-size:16px;
}


.default-time{
font-size:14px;
color:#33425b;
}

.radio-style{
height:40px;
width:100%;
border-radius:7px;
outline:none;
font-size:15px;
border:0px;
padding-left:20px;
color:black;
font-size:16px;
background:#bae8e8;
}
