<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 h5">
      MAKE A DELIVERY REQUEST
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
      Please fill the form and send your request to us. We will confirm to you the process launch shortly.
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-3 col-sm-3 col-xs-12 d-flex align-items-center">
      <button class="btn-style">Schedule the time</button>
    </div>
    <div class="col-12 col-md-9 col-sm-9 col-xs-12 d-flex align-items-center default-time">
      Default: 01/01/2020 at 3pm
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-3 col-sm-3 col-xs-12 d-flex align-items-center">
      <button class="btn-style">Your location</button>
    </div>
    <div class="col-12 col-md-9 col-sm-9 col-xs-12 d-flex align-items-center default-time">
      Default: Tunis, 12 avenue
    </div>
  </div>
  <div class="row mt-4 type-row">
    <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-start align-items-center">
      <button class="radio-style d-flex justify-content-center align-items-center"><label><input type="radio" name="optradio" checked>Less than 15Kg</label></button>
    </div>
    <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-start align-items-center">
      <button class="radio-style d-flex justify-content-center align-items-center"><label><input type="radio" name="optradio">Less than 50kg</label></button>
    </div>
    <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-start align-items-center">
      <button class="radio-style d-flex justify-content-center align-items-center"><label><input type="radio" name="optradio">Over 50kg</label></button>
    </div>
  </div>
</div>
