<div class="login-page">
  <header>
    <nav class="navbar nvbr">
      <a class="navbar-brand  d-flex justify-items-center ml-5" href="#">
        <img src="../../assets/imgs/white-logo.png" width="118" height="43" class="d-inline-block align-top align-start" alt="">
      </a>
    </nav>
  </header>

  <div class="row p-5">
    <div class="col-12 col-md-6  offset-md-3">
      <mat-card >
        <mat-card-header class="text-center">
          <p class="reset-title">
            Let's start by finding your account
          </p>
        </mat-card-header>
        <mat-card-content class="p-4">
          <div >
            <mat-form-field class="login-input" appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input class="login-input" matInput placeholder="Enter your email">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="mt-2">

              <button class="col-4 cancel-btn p-3">Cancel</button>

              <button class="offset-1 col-7 login-btn p-3">Send</button>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>




