<div class="container contain-all">
  <div class="row text-left title-row d-flex justify-content-left align-items-center">
    <div class="col-12 col-md-12 col-sm-12 h3 title">Information parameter</div>
  </div>
  <div class="row form-row d-flex justify-content-left">
    <div class="col-12 col-md-12 col-sm-12">
      <form>
        <div class="container">
          <div class="row">
            <div class="field-name col-14 col-md-12 text-align-left"><font>Username</font></div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-8 col-sm-12 login-input" appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" name="username" matInput>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="field-name col-14 col-md-12 text-align-left"><font>Password</font></div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-8 col-sm-12 login-input" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" name="password" matInput>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="field-name col-14 col-md-12 text-align-left"><font>Email</font></div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-8 col-sm-12 login-input" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" name="email" matInput>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="field-name col-14 col-md-12 text-align-left"><font>Category</font></div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-8 col-sm-12">
              <select matNativeControl>
                <option value="">Option1</option>
                <option value="">Option2</option>
                <option value="">Option2</option>
              </select>
            </mat-form-field>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="field-name col-14 col-md-12 text-align-left"><font>Phone</font></div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-8 col-sm-12 login-input" appearance="outline">
              <mat-label>Phone</mat-label>
              <input type="tel" name="phone" matInput>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="field-name col-14 col-md-12 text-align-left"><font>Adress</font></div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-8 col-sm-12 login-input" appearance="outline">
              <mat-label>Adress</mat-label>
              <input  matInput type="text" name="adress">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="submit-btn-div">
  <button mat-button class="submit-btn">
    <font>submit</font>
  </button>
</div>
