<mat-card class="add-action pt-0 mt-4">
  <mat-card-actions class="d-flex justify-content-center align-items-center">
    <button class="btn-post">
      <img src="../../assets/imgs/icons/like.png" width="20px" height="20px">
      <br><span class="sub-number">125</span>
    </button>
    <button class="btn-post">
      <img src="../../assets/imgs/icons/comment.png" width="20px" height="20px">
      <br><span class="sub-number">10</span>
    </button>
    <button class="btn-post">
      <img src="../../assets/imgs/icons/share.png" width="20px" height="20px">
      <br><span class="sub-number">15</span>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="comments">
  <mat-card-header class="card-head mb-3">
    <div mat-card-avatar class="avatar"></div>
    <font class="user-comment">
    <font class="username"><b>Simba Leroy</b></font>
     Il ya avait pa   Il ya avait'Ivoire!!! je vais aller en chercher aussi.</font>
  </mat-card-header>
  <mat-card-header class="card-head mb-3">
    <div mat-card-avatar class="avatar"></div>
    <font class="user-comment">
      <font class="username"><b>Simba Leroy</b></font>
      Il ya avait pareil en cote d'Ivoire!!! je vais aller en chercher aussi.</font>
  </mat-card-header>
  <mat-card-header class="card-head mb-3">
    <div mat-card-avatar class="avatar"></div>
    <font class="user-comment">
      <font class="username"><b>Yves Bill</b></font>
      Tout ça fait partir du patrimoine Africain. Commençons à agir dès maintenant.</font>
  </mat-card-header>
  <mat-card-header class="card-head mb-3">
    <div mat-card-avatar class="avatar"></div>
    <font class="user-comment">
      <font class="username"><b>Amando Fry</b></font>
      Courage!</font>
  </mat-card-header>
  <mat-card-header class="card-head mb-3">
    <div mat-card-avatar class="avatar"></div>
    <font class="user-comment">
      <font class="username"><b>Christ Miler</b></font>
      S'il n'y a quelque chose de pire de ne pas avoir reussi, c'est de ne pas avoir essayé.</font>
  </mat-card-header>
</mat-card>
<mat-card class="add-comment-field">
  <input class="add-comment" type="text" name="new-comment" placeholder="add comment...">
</mat-card>
