.login-page{
  background-color: #dbedf3;
  width: 100%;
}


.img-pub{
border:0.5px solid #283149;
border-radius:50%;
width:60px;
height:60px;
}

.pub-icons-row{
height:auto;
margin-bottom:20px;
}

.pub-icon{
margin-top:-25px;
}




.subtitle{
  font-family: 'Muli', sans-serif;
  color: #283149;
  font-size:12px;
}

.pub-link{
  text-decoration:none;
}

.avatar{
border-radius:50%;
border:0.6px solid whitesmoke;
}


.table-list{
list-style:none;
}

.option-icon{
font-size:20px;
margin-left:60%;
color: grey;
}

.option-btn{
background:none;
border:0px;
outline:none;
}


mat-card-subtitle{
font-size:12px !important;
}

.cat-list-btn{
outline:none;
}

mat-card{
  border-radius: 0px;
}


.row{
  margin-right: 0px;
  margin-left: 0px;
}

.padding-160{
  padding-top: 30px;
}

.padding-20{
padding-right:20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



.form-control::placeholder  {
  font-family: FontAwesome;
}

.contain-discuss{
position:absolute;
margin-top:10px;
height:200px;

}

.contain-discuss:hover .discuss-img{
margin-top:2px;
transition:0.5s;
}

.contain-discuss:hover .list-discuss-img{
margin-top:2px;
transition:0.5s;
}

.contain-discuss:hover .new-msg-signal{
margin-top:2px;
transition:0.5s;
}



.new-msg-signal{
font-size:6px;
position:absolute;
right:14px;
color:#283149;
margin-top:3px;
}

.discuss-img{
margin-top:-15px;
background-image: url('../../assets/imgs/portsaid.jpg');
background-size: cover;
}

.list-discuss-img{
margin-top:-15px;
background-image: url('../../assets/imgs/discussion.png');
background-size: cover;
border:1px solid #283149;
}



.contain-discuss-space{
margin-top:8vh;
}


app-discussion-shortcut{
position:fixed;
}


.padding-0{
padding:0px;
}

.category-access{
width:100%;
height:100px;
padding:0px;
}
