.premium-form{
margin-top:50px;
}

.premium-input{
border-radius:4px;
border: 0.5px solid #dcdde1;
height:35px;
width:100%;
font-size:14px;
outline:none !important;
margin-top:25px;
padding-left:15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btn-pre{
width:170px;
height:40px;
font-size:14px;
border-radius:5px;
border:1px solid #27ae60;
color:#27ae60;
background:none;
margin-top:25px;
}

.btn-pre:hover{
background:#27ae60;
color:white;
transition:0.3s;
}
