<div class="container premium-form">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <input class="premium-input card-number" type="number" maxlength="16" placeholder="Card number">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12"><input class="premium-input expiration" type="number" maxlength="7" placeholder="Expiration date mm/aaaa"></div>
    <div class="col-md-4 col-sm-4 col-xs-12"><input class="premium-input card-number" type="number" maxlength="4" placeholder="CVC code"></div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end"><button class="btn-pre">Get your pass</button></div>
  </div>
</div>
