.modal-dialog{
background: none;
width:100%;
}


.modal-content{
background: none;
border:0px;
padding:0px;
}

.modal-header{
height:75px;
border:0px;
}

.modal-body{
background:white;
border:0px;
border-radius:3px;
}

.modal-footer{
border:0px;
padding-top:0px;
}

.post-text-input{
height:auto;
min-height:100px;
max-height:150px;
font-size:16;
width:100%;
border-top:0px;
border-left:0px;
border-right:0px;
border-radius:0px;
outline:none;
}

.aploaded-container{
padding:0px;
}

.aploaded-col{
padding:0px;
margin-top:10px;
}

.aploaded-shortcut{
height:35px;
width:35px;
border-radius:50px;
background:#dbedf3;
font-size:17px;
color:#283149;
margin-right:3px;
margin-top:10px;
border:0px;
}

.aploaded-shortcut:hover .close-icon{
visibility:visible;
}

.aploaded-shortcut:hover{
background:#283149;
}

.close-icon{
font-size:14px;
position:absolute;
visibility:hidden;
color:#f33535;
}

.validation-container{
padding:0px;
margin-top:7px;
}

.validation-col{
padding:0px;
}

.btn-valid-post{
background:#2980b9;
width:20%;
color:white;
}

.btn-publicity{
width:50%;
background:#b2bec3;
color:#283149;
}

.back-image{
width:55px;
height:55px;
background:white;
border-radius:50%;
}

.aploaded-row{
margin-left:20px;
}

.validation-row{
padding-left:30px;
padding-right:30px;
}


.div-close-btn{
position:absolute;
right:-20px;
}


.modal-close-btn{
border-radius:50%;
color:#283149;
background:whitesmoke;
width:30px;
height:30px;
border:0px;
margin-top:60px;
outline:none !important;
}


.upload-btn{
border:0px;
background:none;
paddding:0px;
outline:none !important;
}

.input-apload {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}


.apload-line{
position:absolute;
margin-left:48.5%;
}


.type-btn{
width:90%;
height:40px;
background:whitesmoke;
border:0px;
outline:none;
padding-top:7px;
border-radius:4px;
color:#283149;
}


.pub-input{
height:35px;
border-radius:4px;
font-size:14px;
outline:none !important;
margin-top:25px;
padding-left:15px;
border: 0.5px solid #dcdde1;
}


.card-number{
width:100%;
}

.expiration{
width:100%;
}

.cvc{
width:50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.form-check{
margin-top:20px;
}


mat-form-field{
margin-right:20px;
}

.pub-set{
width:50%;
}

.page2{
height:100%;
}


.scan-card{
width:50%;
height:35px;
background:white;
border:0px;
outline:none;
padding-top:7px;
border-radius:4px;
color:#283149;
}
