.pub-premium{
margin-top:50px;
}

.bull{
width:60px;
height:60px;
border-radius:50%;
background:#33425b;
color:white;
border:0px !important;
font-size:12px;
outline:none !important;
margin-right:50px;
}

mat-card{
background:none;
box-shadow:none !important;
}


.modalS{
overflow-y:hidden;
overflow-x:hidden;
}
