<div class="container pub-premium">

  <div class="container-fluid">
    <div class="row modal fade" id="modalAd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <app-ad-publicity-modal></app-ad-publicity-modal>
    </div>
    <div class="row modal fade" id="modalS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <app-sell-publicity-modal></app-sell-publicity-modal>
    </div>
    <div class="row modal fade" id="modalAl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <app-alert-publicity-modal></app-alert-publicity-modal>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 h4">Publication premium</div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 15 days. After 15 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page</li>
        <li>Visible the classification of product and services on the user home.</li>
      </ol>
    </div>
  </div>
  <mat-card class="row">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 padding-l">
      <button class="bull" data-toggle="modal" data-target="#modalAd">AD</button>
      <button class="bull" data-toggle="modal" data-target="#modalS">SELL</button>
      <button class="bull" data-toggle="modal" data-target="#modalAl">ALERT</button>
    </div>
  </mat-card>
</div>
