.modal-dialog{
background: none;
}

.modal-content{
background: none;
border:0px;
padding:0px;
}

.modal-header{
height:75px;
border:0px;
}

.modal-body{
background:white;
border:0px;
border-radius:3px;
}

.modal-footer{
border:0px;
padding-top:0px;
}

.post-text-input{
height:auto;
min-height:100px;
max-height:150px;
font-size:16;
width:100%;
border-top:0px;
border-left:0px;
border-right:0px;
border-radius:0px;
outline:none;
}

.aploaded-container{
padding:0px;
}

.aploaded-col{
padding:0px;
}

.aploaded-shortcut{
height:35px;
width:35px;
border-radius:50px;
background:#dbedf3;
font-size:17px;
color:#283149;
margin-right:3px;
border:0px !important;
outline:none !important;
}

.aploaded-shortcut:hover .close-icon{
visibility:visible;
}

.aploaded-shortcut:hover{
background:#283149;
}

.close-icon{
font-size:14px;
position:absolute;
visibility:hidden;
color:#f33535;
}

.validation-container{
padding:0px;
margin-top:7px;
}

.validation-col{
padding:0px;
}

.btn-valid-post{
background:#2980b9;
width:50%;
color:white;
}

.btn-publicity{
width:50%;
background:#b2bec3;
color:#283149;
}

.back-image{
width:55px;
height:55px;
background:white;
border-radius:50%;
}

.aploaded-row{
margin-left:20px;
}

.validation-row{
padding-left:20px;
padding-right:20px;
}

.type-btn{
width:90%;
height:40px;
background:whitesmoke;
border:0px;
outline:none;
padding-top:7px;
border-radius:4px;
color:#283149;
}

.product-name{
height:auto;
min-height:50px;
max-height:150px;
font-size:14;
width:100%;
border-top:0px;
border-left:0px;
border-right:0px;
border-radius:0px;
border-bottom:0.8px solid silver;
outline:none;
}

.product-price{
height:auto;
min-height:50px;
max-height:150px;
font-size:14;
width:100%;
border-top:0px;
border-left:0px;
border-right:0px;
border-radius:0px;
border-bottom:0.8px solid silver;
outline:none;
}

.padding-0{
padding:0px;
}

.product-change{
margin-top:4px;
right:10px;
}


.div-close-btn{
position:absolute;
right:-20px;
}


.modal-close-btn{
border-radius:50%;
color:#283149;
background:whitesmoke;
width:30px;
height:30px;
border:0px;
margin-top:60px;
outline:none !important;
}

.upload-btn{
border:0px;
background:none;
paddding:0px;
outline:none !important;
}

.input-apload {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

