<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="col-12 lg-12 col-md-4 blocking-status">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img class="mod-img" src="../../assets/imgs/no-message.png" width="60" height="60">
              <img class="mod-img-okay" src="../../assets/imgs/okay.png" width="60" height="60">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 d-flex justify-content-center">
              <font class="action-description">Message</font>
            </div>
          </div>
        </div>
        <div class="col-12 lg-12 col-md-4 blocking-status">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img class="mod-img" src="../../assets/imgs/no-publication.png" width="60" height="60">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 d-flex justify-content-center">
              <font class="action-description">Publication</font>
            </div>
          </div>
        </div>
        <div class="col-12 lg-12 col-md-4 blocking-status">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img class="mod-img" src="../../assets/imgs/no-all.png" width="60" height="60">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 d-flex justify-content-center">
              <font class="action-description">Block all</font>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
