.premium-info{
width:100px;
height:100px;
border-radius:50%;
background:#f33535;
border:0px !important;
outline:none !important;
color:white;
font-size:14px;
margin-top:50px;
}


.premium-get{
width:100px;
height:100px;
border-radius:50%;
background:#33425b;
border:0px !important;
outline:none !important;
color:white;
font-size:14px;
margin-top:20px;
}


.padding-l{
padding-left:0px;
}
