<div class="login-page">
  <header>
    <nav class="navbar nvbr">
      <a class="navbar-brand d-flex justify-items-center ml-5" href="#">
        <img src="../../assets/imgs/white-l.png" width="47" height="43" class="nav-brand d-inline-block align-top align-start" alt="">
      </a>

      <div class="row">
        <ul class="nav snip1226 justify-content-end">
          <li class="nav-item dropdown">
            <mat-form-field class="li-link">
              <select class="language nav-link" matNativeControl>
                <option class="language-option" value="english">ENGLISH</option>
                <option class="language-option" value="french">FRANCAIS</option>
              </select>
            </mat-form-field>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="row p-5">
    <div class="col-12 col-md-6 col-lg-7">
      <mat-card class="first-card">
        <img src="../../assets/imgs/presentation1.png" width="500px">
        <div class="row"><font size="7" class="bigT">Change your world</font></div>
        <div class="row"><font size="3" class="smallT">Now, you can yourself, buy, sell, promote your business, explore the international market... <br>Join the network and discover much more.</font></div>

      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-5">
      <mat-card  class="login-card">
        <div class="row ">
          <div class="col-6">
            <button class="login-page-btn p-3" (click)="select('signin')" [ngClass]=" selected == 'signin' ? 'selected' : ''">Sign In</button>
          </div>
          <div class="col-6">
            <button class="login-page-btn p-3" (click)="select('signup')" [ngClass]=" selected == 'signup' ? 'selected' : ''">Sign Up</button>
          </div>
        </div>

        <mat-card-content >
          <div *ngIf="selected == 'signin'" class="pt-5 pr-5 pl-5 pb-2" >
          <div >
            <mat-form-field class="login-input" appearance="outline">
              <mat-label>Username</mat-label>
              <input  matInput placeholder="Username">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div >
            <mat-form-field class="login-input" appearance="outline">
              <mat-label>Password</mat-label>
              <input class="login-input" matInput placeholder="Password">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div>
            <button class="login-btn p-2">Sign In</button>
          </div>

          <div class="text-center p-3">
            <a class="forgot-pass" href="">Forgot Password ?</a>
          </div>
        </div>



          <div *ngIf="selected == 'signup'" class="pt-5 pr-5 pl-5 pb-4">
            <div >
              <mat-form-field class="login-input" appearance="outline">
                <mat-label>Username</mat-label>
                <input  matInput placeholder="Username">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>

            <div >
              <mat-form-field class="login-input" appearance="outline">
                <mat-label>Mail Address</mat-label>
                <input  matInput placeholder="Username">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>

            <div >
              <mat-form-field class="login-input" appearance="outline">
                <mat-label>Password</mat-label>
                <input class="login-input" matInput placeholder="Password">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>

            <div >
              <mat-form-field class="login-input" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input class="login-input" matInput placeholder="Password">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>

            <div>
              <button class="login-btn p-2">Sign Up</button>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="container-fluid top-prod">
  <app-top-ten-products></app-top-ten-products>
</div>
<div class="container-fluid">
  <div class="row">
    <app-categories></app-categories>
  </div>
</div>
<footer class="page-footer font-small pt-4 foot-div">
  <app-login-footer></app-login-footer>
</footer>

