.login-page{
  background-color: #dbedf3;
  height: 100%;
  width: 100%;
}


.nvbr{
  background-color: #283149;
  padding: 0px 0px 10px 0px ;
  height:70px;
}

.nvbr li a{
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.nav-brand{
margin-top:0px;
}

.language{
color:white !important;
font-size:15px;
font-family: 'Roboto', sans-serif;
}


.language-option{
border:0px;
outline:none;
color:black;
font-family: 'Roboto', sans-serif;
}

.li-link{
width:110px;
margin-right:10px;
}

.top-prod{
  background-color: #dbedf3;
}


.boutonmenuprincipal {
border: none;
cursor: pointer;
}

.dropdown {
display: inline-block;
}


#signalPoint{
  font-size: 5px;
  text-align: center;
  color: #dbedf3;
}


.snip1226 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  //font-weight: 500;
}

mat-card{
  border-radius: 0px;
}


.first-card{
background: none;
border:0px;
box-shadow:none;
}

.login-page-btn{
  width: 100% ;
  border: none ;
  background-color: transparent;
}
.login-page-btn:focus{
  outline:0;
}

.login-card{
  padding-right: 0px;
  padding-left:0px;
  padding-top: 0px;
}

.selected{
  border-bottom: 3px solid #283149;
}

.login-input{
  width: 100%;
}
.login-btn{
  border: none;
  width: 100%;
  background-color: #283149;
  color: #dbedf3;
  outline:none;
  border-radius:4px;
}

.login-btn:hover{
  background-color: #404b69 ;
  color:  #dbedf3;
}
.forgot-pass{
  color:  #283149;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.foot-div{
  background: url(../../assets/imgs/home-footer.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}


