<div class="row search-row">
  <div class="col-md-12 d-flex align-items-center">
    <form class="d-flex justify-content-center">
      <input class="searchBar" type="search" placeholder="  Search..." aria-label="Search">
    </form>
  </div>
</div>
<div class="container-fluid post-date">
  <div class="row">
    <div class="col-md-12">Posted on <b>01/01/2020</b> at <b>17:15 pm</b></div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="col-md-6 col-sm-6">
    <mat-card class="col-12 mb-3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Simba</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <div class="option-icon">
          <button mat-button class="option-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">adjust</i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <i class="material-icons">favorite_border</i>
          LIKE
        </button>
        <button mat-button>
          <i class="material-icons">chat_bubble_outline</i>
          COMMENT
        </button>
        <button mat-button>
          <i class="material-icons">input</i>
          SHARE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="container-fluid post-date">
  <div class="row">
    <div class="col-md-12">Posted on <b>01/01/2020</b> at <b>17:15 pm</b></div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="col-md-6 col-sm-6">
    <mat-card class="col-12 mb-3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Simba</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <div class="option-icon">
          <button mat-button class="option-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">adjust</i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <i class="material-icons">favorite_border</i>
          LIKE
        </button>
        <button mat-button>
          <i class="material-icons">chat_bubble_outline</i>
          COMMENT
        </button>
        <button mat-button>
          <i class="material-icons">input</i>
          SHARE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="container-fluid post-date">
  <div class="row">
    <div class="col-md-12">Posted on <b>01/01/2020</b> at <b>17:15 pm</b></div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="col-md-6 col-sm-6">
    <mat-card class="col-12 mb-3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Simba</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <div class="option-icon">
          <button mat-button class="option-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">adjust</i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <i class="material-icons">favorite_border</i>
          LIKE
        </button>
        <button mat-button>
          <i class="material-icons">chat_bubble_outline</i>
          COMMENT
        </button>
        <button mat-button>
          <i class="material-icons">input</i>
          SHARE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="container-fluid post-date">
  <div class="row">
    <div class="col-md-12">Posted on <b>01/01/2020</b> at <b>17:15 pm</b></div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="col-md-6 col-sm-6">
    <mat-card class="col-12 mb-3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Simba</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <div class="option-icon">
          <button mat-button class="option-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">adjust</i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
            <li>
              <div class="container-fluid">
                <div class="row option-link d-flex align-items-center">
                  <div class="col-12 col-md-1 col-sm-1">
                    <i class="material-icons">delete_forever</i>
                  </div>
                  <div class="col-12 col-md-10 col-sm-10">Delete for all</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <i class="material-icons">favorite_border</i>
          LIKE
        </button>
        <button mat-button>
          <i class="material-icons">chat_bubble_outline</i>
          COMMENT
        </button>
        <button mat-button>
          <i class="material-icons">input</i>
          SHARE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

