<div class="container pub-premium">

  <div class="container-fluid">
    <div class="row modal fade" id="modalAd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <app-ad-publicity-modal></app-ad-publicity-modal>
    </div>
    <div class="row modal fade" id="modalS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <app-sell-publicity-modal></app-sell-publicity-modal>
    </div>
    <div class="row modal fade" id="modalAl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <app-alert-publicity-modal></app-alert-publicity-modal>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 h4">Sponsoring</div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <font size="4">Mini:</font>
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 7 days. After 7 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page at first publication</li>
        <li>Visible the classification of product and services on the user home at first publications.</li>
        <li>Visible several in the newsfeed and in the first publications.</li>
        <li>Max visibility: continent</li>
        <li>Cost: 5$</li>
      </ol>
      <font size="4">Default:</font>
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 16 days. After 16 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page at first publication</li>
        <li>Visible the classification of product and services on the user home at first publications.</li>
        <li>Visible several in the newsfeed and in the first publications.</li>
        <li>Max visibility: continent</li>
        <li>Cost: 10$</li>
      </ol>
      <font size="4">Supreme:</font>
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 25 days. After 25 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page at first publication</li>
        <li>Visible the classification of product and services on the user home at first publications.</li>
        <li>Visible several in the newsfeed and in the first publications.</li>
        <li>Max visibility: all users.</li>
        <li>Cost: 18$</li>
      </ol>
    </div>
  </div>
  <mat-card class="row mat-row">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 h6 text-gray">Your company</div>
    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
      <textarea class="sponso-area" type="text" name="text-sponsoring" placeholder="Your message..."></textarea>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 padding-l">
      <mat-form-field class="li-link">
        <select class="nav-link" matNativeControl>
          <option class="statut-option" disabled value="null">YOUR STATUS</option>
          <option class="cible-option" value="french">ASSOCIATION</option>
          <option class="cible-option" value="french">COMPANY</option>
          <option class="cible-option" value="french">FREELANCE</option>
          <option class="cible-option" value="french">MARK</option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 padding-l">
      <mat-form-field class="li-link">
        <select class="nav-link" matNativeControl>
          <option class="statut-option" disabled value="null">BUDGET</option>
          <option class="cible-option" value="french">MINI</option>
          <option class="cible-option" value="french">DEFAULT</option>
          <option class="cible-option" value="french">SUPREME</option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 h6 text-gray">Your target</div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-6 col-sm-6 col-xs-12 padding-l">
          <mat-form-field class="li-link">
            <select class="nav-link" matNativeControl>
              <option class="size-option" value="null" disabled>SIZE</option>
              <option class="size-option" value="english">ALL</option>
              <option class="size-option" value="english">AFRICA</option>
              <option class="size-option" value="french">ASIA</option>
              <option class="size-option" value="french">AMERICA</option>
              <option class="size-option" value="french">ANTARTIC</option>
              <option class="size-option" value="french">EUROPE</option>
              <option class="size-option" value="french">OCEANIA</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-6 col-md-6 col-sm-6 col-xs-12 padding-l">
          <mat-form-field class="li-link">
            <select class="nav-link" matNativeControl>
              <option class="statut-option" disabled value="null">SOCIAL STATUS</option>
              <option class="cible-option" value="all">ALL</option>
              <option class="cible-option" value="french">STUDENTS</option>
              <option class="cible-option" value="french">WORKERS</option>
              <option class="cible-option" value="french">RETIRED</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-4">
          <input class="input-style" type="text" name="sponsorised-link" placeholder="Add a link...">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-xs-12 h6 text-gray">Finalize</div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <input class="input-style card-number mb-4" type="number" maxlength="16" placeholder="Card number">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 mb-5"><input class="input-style expiration" type="number" maxlength="7" placeholder="Expiration date mm/aaaa"></div>
        <div class="col-md-4 col-sm-4 col-xs-12 mb-5"><input class="input-style card-number" type="number" maxlength="4" placeholder="CVC code"></div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end mb-4"><button class="btn-sponso">Submit my sponsoring</button></div>
      </div>
    </div>
  </mat-card>
</div>
