mat-form-field{
width:100%;
}

.sponso-area{
width:100%;
height:70px;
border-radius:5px;
border:1px solid silver;
outline:none;
resize:none;
padding-left:15px;
margin-top:15px;
font-size:14px;
}

.sponso-area:focus{
border-top:0px;
border-left:0px;
border-right:0px;
resize:yes;
}

.text-gray{
color:silver;
}


.input-style{
height:40px;
width:100%;
border-radius:5px;
outline:none;
border:1px solid silver;
padding-left:15px;
font-size:14px;
margin-top:15px;
}

.input-style:focus{
border-top:0px;
border-left:0px;
border-right:0px;
}


.btn-sponso{
background:none;
border:1px solid #27ae60;
color:#27ae60;
font-size:16px;
border-radius:6px;
transition:0.3s;
height:40px;
padding-left:20px;
padding-right:20px;
outline:none !important;
}

.btn-sponso:hover{
border:0px;
color:white;
background:#27ae60;
}

.mat-row{
margin-bottom:100px;
}
