.nvbr{
  background-color: #283149;
  padding: 9px 0px 9px 0px ;
  height:70px;
  position:relative;
}

.nvbr li a{
  color: white;
  font-size: 14px;
}

.searchBar{
    border: none;
    border-radius: 3px;
    width: 350px;
    height: 32px;
    outline: none !important;
    background: #dbedf3;
    padding-left:15px;
    margin-left:40px;
}

.nav{
padding-right:60px;
}

.nav-link{
color: whitesmoke;
font-size:15px;
outline:none;
}



.dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 10px;
    position: absolute;
    top: -8px;
}


  .dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 10px;
    position: absolute;
    top: -7px;
  }



.dropdown-menu{
border:1px solid silver;
width:370px;
height:455px;
max-height:455px;
position:absolute;
}

.message-dropdown{
margin-left:780px;
}

.notification-dropdown{
margin-left:843px;
}

.more-dropdown{
margin-left:1028px;
width:250px !important;
height:auto !important;
}

.message-intro{
font-size:11px;
}

.border-1{
border-bottom:1px solid #ecf0f1;
}

.card-head{
margin-top:10px;
}

.user-actif{
position:absolute;
color:#27ae60;
font-size:7px;
margin-top:2px;
}

.padding-row{
height:70px;
}

.more-row{
height:45px;
}

.padding-row:hover{
background:whitesmoke;
}

.more-row:hover{
background:whitesmoke;
}

#signalPoint1{
    font-size: 5px;
    text-align: center;
    color: red;
    margin-top:-15px;
    margin-bottom:-15px;
    padding:0px;
    outline:none;
}


#signalPoint2{
    font-size: 5px;
    text-align: center;
    color: red;
    margin-top:-15px;
    margin-bottom:-15px;
    padding:0px;
    outline:none;
}


#signalPoint3{
    font-size: 5px;
    text-align: center;
    color: red;
    margin-top:-15px;
    margin-bottom:-15px;
    padding:0px;
    outline:none;
}


.message-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width:50px;
    height:50px;
  }


.title-intro{
font-size:12px;
}


.signal-receive{
color:#2980b9;
font-size:6px;
position:absolute;
margin-top:5px;
}


.message-date{
line-height:2px;
font-size:9px;
color:#283149;
}


.window-title{
font-size:14px;
color:#283149;
}

.important{
font-size:14px;
color:#283149;
}

.notification-intro{
font-size:13px;
}


.more-avatar{
width:30px;
height:30px;
margin-top:-5px;
}

.more-profil{
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.more-premium{
background-image: url('../../assets/imgs/premium.png');
background-size: cover;
}

.more-publicity{
background-image: url('../../assets/imgs/ads.png');
background-size: cover;
}

.more-delivery{
background-image: url('../../assets/imgs/delivery.png');
background-size: cover;
}

.more-edit{
background-image: url('../../assets/imgs/setting.png');
background-size: cover;
}
