<div class="profil-page">
  <app-navbar></app-navbar>
  <div class="container-fluid d-flex justify-content-end">
    <div class="row d-flex justify-content-center quick-profil-row">
      <div class="col-12 col-md-12">
        <mat-card class="row card-contain d-flex justify-content-center">
          <mat-card-header class="card-head">
            <div class="col-md-auto d-flex justify-content-center align-items-center">
              <img src="../../assets/imgs/avatar.png" width="200" height="200" class="userAvatar">
            </div>
            <mat-card-content>
              <mat-card-title>
                <div class="user-name"><font size="6" >Jean Philippe Kokora <br><span class="activity">IT & technology</span></font></div>
              </mat-card-title>
            </mat-card-content>
          </mat-card-header>
        </mat-card>
        <div class="row dashbord-row">
          <div class="col-md-12 d-flex justify-content-center">
            <ul class="snip1135">
              <li><a href="#" data-hover="Publications">Posts</a></li>
              <li><a href="#" data-hover="Achats">Purchases</a></li>
              <li><a href="#" data-hover="Ventes">Sales</a></li>
              <li><a href="#" data-hover="Contact">Relationships</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-end">
    <div class="row d-flex justify-content-center rotor-row">
      <div class="col-md-auto rotor d-flex justify-content-center align-items-center" style="">
            <div class="hover01 column">
                <figure><img src="../../assets/imgs/echec.jpg" class="publication"/></figure>
            </div>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="card card-accordion col-md-12">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="card-header titreS" id="headingOne">
            <a class="card-link text-head text-left" data-toggle="collapse" href="#collapseOne">
              <div class="col-md-12" ><font size="3" color="#dcdde1">BIOGRAPHY...</font></div>
            </a>
      </div>
      </button>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container-fluid containList">
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon1"><i class="fas fa-university"></i></span>&nbsp;studied at: </font></div><font class="info-result">FST MANAR</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon2"><i class="fas fa-briefcase"></i></span>&nbsp;Work at: </font></div><font class="info-result">abidjan</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon3"><i class="fas fa-user-tie"></i></span>&nbsp;Job: </font></div><font class="info-result">Web Developer</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon4"><i class="fas fa-map-marker-alt"></i></span>&nbsp;Location: </font></div><font class="info-result">Tunis wardia</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon5"><i class="fas fa-user-tie"></i></span>&nbsp;Job: </font></div><font class="info-result">Web Developer</font>
              </div>
            </div>
            <div class="row close-row d-flex justify-content-center text-center">
              <div class="">
                <div><font class="close-row-title text-center" size="2"><span id="row-title-icon"><i class="fas fa-user-edit"></i></span>&nbsp;EDIT </font></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-accordion col-md-12">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="card-header titreS2" id="headingTwo">
          <a class="card-link text-head text-left" data-toggle="collapse" href="#collapseTwo">
            <div class="col-md-12" ><font size="3" color="#dcdde1">STORIES...</font></div>
          </a>
        </div>
      </button>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container-fluid containList">
            <div class="row stories-row">
              <div class="col-md-12 d-flex justify-content-start align-items-center storiesContain">
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <font size="5">...</font>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-end">
    <div class="row post-list-row d-flex">
      <div class="post-list-col">
        <button mat-button class="option-desc">
          <i class="far fa-dot-circle"></i>
        </button>
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/imgs/prod.jpg" width="100%" height="100%" alt="">
          <div class="overlay">
            <h2>POST - SELL - ALERT</h2>
            <p class="icon-links">
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">input</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">chat_bubble_outline</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">favorite_border</i></span>
              </a><br>
            </p>
            <p class="text-left">
              <font class="text-desc">
                Hi!! First time in  Africa, a revolutionary product web product!<br>
                here the describe text. If the text is to long we'll put...
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="post-list-col">
        <button mat-button class="option-desc">
          <i class="far fa-dot-circle"></i>
        </button>
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/imgs/echec.jpg" width="100%" height="100%" alt="">
          <div class="overlay">
            <h2>POST - SELL - ALERT</h2>
            <p class="icon-links">
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">input</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">chat_bubble_outline</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">favorite_border</i></span>
              </a><br>
            </p>
            <p class="text-left">
              <font class="text-desc">
                Hi!! First time in  Africa, a revolutionary product web product!<br>
                here the describe text. If the text is to long we'll put...
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="post-list-col">
        <button mat-button class="option-desc">
          <i class="far fa-dot-circle"></i>
        </button>
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/imgs/shoe.jpg" width="100%" height="100%" alt="">
          <div class="overlay">
            <h2>POST - SELL - ALERT</h2>
            <p class="icon-links">
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">input</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">chat_bubble_outline</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">favorite_border</i></span>
              </a><br>
            </p>
            <p class="text-left">
              <font class="text-desc">
                Hi!! First time in  Africa, a revolutionary product web product!<br>
                here the describe text. If the text is to long we'll put...
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="post-list-col">
        <button mat-button class="option-desc">
          <i class="far fa-dot-circle"></i>
        </button>
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/imgs/echec.jpg" width="100%" height="100%" alt="">
          <div class="overlay">
            <h2>POST - SELL - ALERT</h2>
            <p class="icon-links">
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">input</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">chat_bubble_outline</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">favorite_border</i></span>
              </a><br>
            </p>
            <p class="text-left">
              <font class="text-desc">
                Hi!! First time in  Africa, a revolutionary product web product!<br>
                here the describe text. If the text is to long we'll put...
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="post-list-col">
        <button mat-button class="option-desc">
          <i class="far fa-dot-circle"></i>
        </button>
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/imgs/portsaid.jpg" width="100%" height="100%" alt="">
          <div class="overlay">
            <h2>POST - SELL - ALERT</h2>
            <p class="icon-links">
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">input</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">chat_bubble_outline</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">favorite_border</i></span>
              </a><br>
            </p>
            <p class="text-left">
              <font class="text-desc">
                Hi!! First time in  Africa, a revolutionary product web product!<br>
                here the describe text. If the text is to long we'll put...
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="post-list-col">
        <button mat-button class="option-desc">
          <i class="far fa-dot-circle"></i>
        </button>
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/imgs/echec.jpg" width="100%" height="100%" alt="">
          <div class="overlay">
            <h2>POST - SELL - ALERT</h2>
            <p class="icon-links">
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">input</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">chat_bubble_outline</i></span>
              </a>
              <a href="#">
                <span class=""><i class="material-icons material-icons-desc">favorite_border</i></span>
              </a><br>
            </p>
            <p class="text-left">
              <font class="text-desc">
                Hi!! First time in  Africa, a revolutionary product web product!<br>
                here the describe text. If the text is to long we'll put...
              </font>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-end">
    <div class="row friend-list-row d-flex justify-content-center">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">mode</font><br>Issouf Bakayoko</mat-card-title>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">mode</font><br>Issouf Bakayoko</mat-card-title>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">Consulting & training</font><br>Joseph Adai</mat-card-title>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
        <div class="friend-design d-flex justify-content-center">
          <img src="../../assets/imgs/echec.jpg" class="friend-avatar" width="80" height="80">
          <button mat-button class="option-desc">
            <i class="far fa-dot-circle"></i>
          </button>
          <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
        </div>
      </div>
    </div>
  </div>
</div>
<div routerLink="/discussionShortcut" class="discuss-avatar"><div class="new-msg-signal"><i class="fas fa-circle"></i></div><div mat-card-avatar class="discuss-img"></div></div>
