.chat-box{
height:100%;
width:100%;
padding:0px;
}

mat-card{
background:white;
width:92%;
height:405px;
margin-left:4%;
margin-bottom:0px;
}

.chat-head{
width:300px;
height:50px;
padding:0px;
margin:0px;
margin-left:-4%;
margin-top:-3%;
}

.card-container{
padding:0px;
}


.chat-avatar{
border-radius:50%;
}

mat-card-title{
font-size:15px !important;
}

mat-card-subtitle{
font-size:11px !important;
}

.head-btn{
position:absolute;
left:74%;
display:inline-block;
width:25%;
}

.material-icons{
font-size:21px;
color:#283149;
}

.head-icon{
margin-left:12px;
}

.fa-dot-circle{
font-size:16px;
color:#283149;
margin-top:-2px !important;
}

.chat-affich{
height:270px;
height-max:226px;
height-min:200px;
width:307px;
background:white;
margin-left:-5%;
padding:0px;
margin-bottom:0px;
border-top:0.5px solid silver;
}

.chat-action{
height:70px;
width:307px;
margin-left:-5%;
padding:0px;
margin-bottom:0px;
background:white;
}


.chat-input{
width:307px;
height:45px;
outline:none;
border-radius:7px;
border:none;
margin-bottom:0px;
resize:none;
padding-left:4px;
font-size:14px;
overflow-y:hidden;
border:0.5px solid silver;
}

.chat-input:focus{
height:55px;
height-max:60px;
resize:none;
padding-left:4px;
font-size:14px;
border-bottom:0.8px solid gray;
border-radius:0px;
border-top:0.5px solid silver;
border-left:0px;
border-right:0px;
}

.chat-foot{
width:307px;
height:20px;
margin-left:0%;
margin-top:-7px;
}


.ico-btn{
border:0px;
background:none;
padding:0px;
outline:none;
}
