<div class="container info">
  <div class="row">
    <div class="col-md-12 col-sm-12 h4">Advantages</div>
    <div class="col-md-12 col-sm-12">
      <ol>
        <li>You can See the alert lists in all categories</li>
        <li>You choose the visibility field of your publications. This visibility is valid for ten(10) days. After 10 days, it's valid just by your network.</li>
        <li>Know who visit your profil, see your publication, watch your videos.</li>
        <li>Program automatic answers for the first messages sent to you.</li>
        <li>Choose to be add as a friend or be follow by users.</li>
        <li>Compare the prices of a product in five(5) offers at the same time.</li>
        <li>Your publications are visible by the visitors on the Amonak welcome page for ten(10) days.</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 h4">Payment and more</div>
    <div class="col-md-12 col-sm-12">
      <ol>
        <li>You benefit from three(3) months free.</li>
        <li>You will pay 12$ per month after the free period.</li>
        <li>Program automatic answers for the first messages sent to you.</li>
      </ol>
    </div>
  </div>
</div>
