<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Simba Leroy</b></font>
    Il ya avait pareil en cote d'Ivoire!!! je vais aller en chercher aussi.</font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Simba Leroy</b></font>
    Il ya avait pareil en cote d'Ivoire!!! je vais aller en chercher aussi.</font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Yves Bill</b></font>
    Tout ça fait partir du patrimoine Africain. Commençons à agir dès maintenant.</font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Amando Fry</b></font>
    Courage!</font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Christ Miler</b></font>
    S'il n'y a quelque chose de pire de ne pas avoir reussi, c'est de ne pas avoir essayé.</font>
</mat-card-header>
<mat-card-header class="card-head mb-3">
  <div mat-card-avatar class="avatar"></div>
  <font class="user-comment">
    <font class="username"><b>Christ Miler</b></font>
    S'il n'y a quelque chose de pire de ne pas avoir reussi, c'est de ne pas avoir essayé.</font>
</mat-card-header>

