.avatar{
background-image: url('../../assets/imgs/portsaid.jpg');
background-size: cover;
width:40px;
height:40px;
}


.username{
font-size:14px !important;
}

.user-comment{
font-size:13px !important;
color:#2f3640;
left:65px;
position:absolute;
width:300px;
max-width:300px;
}
