<div class="delivery-page">
  <app-default-navbar></app-default-navbar>
  <mat-card class="container padding-l">
    <div class="row padding-l">
      <div class="col-md-2 col-sm-2 padding-l">
        <app-delivery-nav></app-delivery-nav>
      </div>
      <div class="col-md-9 col-sm-10 mt-5">
        <app-delivery-documentation class="mb-3"></app-delivery-documentation>
        <app-delivery-make class="mb-3"></app-delivery-make>
        <app-delivery-follow class="mb-3"></app-delivery-follow>
        <app-delivery-work class="mb-3"></app-delivery-work>
        <app-delivery-contact class="mb-3"></app-delivery-contact>
      </div>
    </div>
  </mat-card>
</div>
