.top-card{
background: none;
border:0px;
box-shadow:none;
}

.slide-card{
height:400px;
border:0px;
box-shadow:none;
background-color: #dbedf3;
}

.line{
height:2px;
}

.topTitle{
color:#283149;
}



