<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-end">
            <div class="back-image d-flex justify-content-end align-items-center">
              <button class="file upload-btn">
                <img src="../../assets/imgs/add-image.png" width="40px" height="40px" class=""> <input class="input-apload" type="file" name="file"/>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-center">
            <div class="back-image d-flex justify-content-center align-items-center">
              <button class="file upload-btn">
                <img src="../../assets/imgs/add-video.png" width="40px" height="40px" class=""> <input class="input-apload" type="file" name="file"/>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-start">
            <div class="back-image d-flex justify-content-start align-items-center">
              <button class="file upload-btn">
                <img src="../../assets/imgs/add-file.png" width="40px" height="40px" class=""> <input class="input-apload" type="file" name="file"/>
              </button>
            </div>
          </div>
          <div class="div-close-btn"><button class="modal-close-btn d-flex justify-content-center align-items-center" data-dismiss="modal"><img src="../../assets/imgs/icons/close.png" width="20px" height="20px"></button></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="modal-body mx-3">
            <div class="md-form mb-4">
              <textarea type="text" class="validate sell-text-input" placeholder="Text..."></textarea>
            </div>
            <div class="md-form mb-4">
              <input class="specific-name input-style" type="text" name="specific-name" maxlength="150" placeholder="Specific name...">
            </div>
            <div class="md-form mb-4">
              <div class="container-fluid padding-0">
                <div class="row">
                  <div class="col-12 col-md-7 col-sm-7 col-xs-7"><input type="text" name="product-price" class="input-style" placeholder="price..."></div>
                  <div class="col-12 col-md-5 col-sm-5 col-xs-5">
                    <mat-form-field class="product-change">
                      <select class="language" matNativeControl>
                        <option class="change-option" value="NULL">CHANGE</option>
                        <option class="change-option" value="USD">USD</option>
                        <option class="change-option" value="TND">TND</option>
                        <option class="change-option" value="FRENCH">EUR</option>
                      </select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="md-form mb-1">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="pub-set nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#size" role="tab" aria-controls="nav-home" aria-selected="true">Visibility size</a>
                  <a class="pub-set nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#type" role="tab" aria-controls="nav-profile" aria-selected="false">Target type</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="size" role="tabpanel" aria-labelledby="nav-home-tab">
                  <mat-form-field class="li-link">
                    <select class="nav-link" matNativeControl>
                      <option class="size-option" value="english">AFRICA</option>
                      <option class="size-option" value="french">ASIA</option>
                      <option class="size-option" value="french">AMERICA</option>
                      <option class="size-option" value="french">ANTARTIC</option>
                      <option class="size-option" value="french">EUROPE</option>
                      <option class="size-option" value="french">OCEANIA</option>
                    </select>
                  </mat-form-field>

                </div>
                <div class="tab-pane fade" id="type" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="li-link">
                          <select class="nav-link" matNativeControl>
                            <option class="statut-option" disabled value="null">SOCIAL STATUS</option>
                            <option class="cible-option" value="all">ALL</option>
                            <option class="cible-option" value="french">STUDENTS</option>
                            <option class="cible-option" value="french">WORKERS</option>
                            <option class="cible-option" value="french">RETIRED</option>
                          </select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="li-link">
                          <select class="nav-link" matNativeControl>
                            <option class="statut-option" disabled value="null">GENRE</option>
                            <option class="cible-option" value="all">ALL</option>
                            <option class="cible-option" value="men">MEN</option>
                            <option class="cible-option" value="women">WOMEN</option>
                          </select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="li-link">
                          <select class="nav-link" matNativeControl>
                            <option class="statut-option" disabled value="null">CATEGORIES</option>
                            <option class="cible-option" value="all">ALL</option>
                            <option class="cible-option" value="agri-food">AGRI & FROOD</option>
                            <option class="cible-option" value="industry">INDUSTRY</option>
                            <option class="cible-option" value="it-tech">IT & TECHNOLOGY</option>
                          </select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="apload-line">
          <button class="aploaded-shortcut d-flex justify-content-center align-items-center">JT <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
          <button class="aploaded-shortcut d-flex justify-content-center align-items-center">BF <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
          <button class="aploaded-shortcut d-flex justify-content-center align-items-center">AL <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
          <button class="aploaded-shortcut d-flex justify-content-center align-items-center">JT <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
          <button class="aploaded-shortcut d-flex justify-content-center align-items-center">JT <font class="close-icon d-flex justify-content-center align-items-center"><i class="material-icons">close</i></font></button>
        </div>
        <div class="col-md-6">
          <div class="modal-body page2 mx-3">
            <div class="md-form mb-1">
              <input class="pub-input card-number" type="number" maxlength="16" placeholder="Card number">
            </div>
            <div class="md-form mb-1">
              <input class="pub-input expiration" type="number" maxlength="16" placeholder="Expiration mm/aaaa">
            </div>
            <div class="md-form mb-1">
              <input class="pub-input cvc" type="number" maxlength="4" placeholder="Card number">
            </div>
            <div class="md-form mb-4">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Remember me</label>
              </div>
            </div>
            <div class="md-form mb-1 d-flex justify-content-end">
              <button class="scan-card"><img src="../../assets/imgs/scan.png" width="30px" height="30px">&nbsp;&nbsp;Scan your card here</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
      <div class="container validation-container">
        <div class="row validation-row">
          <div class="col-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end align-items-center validation-col">
            <button mat-button class="btn-valid-post" data-dismiss="modal">Valid</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
